* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  /* * {
    box-sizing:border-box;
      } */

      /* FONTS */

      @font-face {
        font-family: 'caviar_dreams';
        src:  url('CaviarDreams-webfont.woff') format('woff');

        font-weight: normal;
        font-style: normal;
    
    }

.header-container {
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background video {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
@media (min-width: 1120px), (min-height: 630px) {
    body { background-size: auto; }
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 180px;
    width: 250px;
}

.details-btn {
    color: white;
    padding: 10px 28px;
    border-radius: 4px;
    background: #C5A557;
    transition: background 0.3s ease;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-family: 'caviar_dreams';
}

.details-btn:hover {
    background: white;
    color: #C5A557;
    transition: 1s ease;
    font-size: larger;
  }


.title-underline {
    width: 80vw;
    border-bottom: 1px solid grey;
    margin: auto;
}

.title h1 {
    color: grey;
    font-size: 40px;
    text-align-last: center;
    font-family: 'caviar_dreams';
    padding: 60px;
}

.title h2 {
    text-align-last: center;  
    font-family: 'caviar_dreams';
    padding: 50px;
    color: grey;
    font-size: 18px;
}

.about-text-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.about-text {
    margin: 30px;
    padding: 0px 30px;
    height: auto;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #8C7943;
}

.about-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    justify-content: center;
}

.middle-image {
    display: block;
    width: 100%;
    height: auto;
}

.about-image {
    background-color: #C5A557;
    margin: 60px;
    height: auto;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s ease;
    background-color: #C5A557;
  }
  
  .about-images:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
  
  .image-text {
    color: white;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media screen and (min-width: 320px) {
    .image-text {
      font-size: 10px;
    }
  }
  @media screen and (min-width: 620px) {
    .image-text {
      font-size: 1vw;
    }
  }


  .about-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;
    
  }

  .about-bottom p {
    text-align-last: center;  
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    padding: 40px;
    color:grey;
    border-bottom: 1px solid #C5A557;
  }

  .about-bottom h6 {
    text-align-last: center;  
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    padding: 40px 40px 0 40px;
    color:grey;
  }


  .gallery-container {
    padding: 80px 80px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper-container {
    width: 800px;
    height: 600px;
    width: 60vw;
  }

  .swiper-slide img{
    display: block;
    width: 100%;
    height: auto;
  }

  .competition {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: 
      /* linear-gradient(to bottom, rgba(197, 165, 87,0.7), rgba(255, 255, 255, 0.9)), */
      url("../images/ocean_pool.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }

  .competition-header h1{
    background-color: #C5A557 ;
    color: white;
    text-align-last: center;  
    font-family: 'caviar_dreams';
    padding: 30px;
    width: 40vw;
    margin: auto;
    border: 5px solid white;
    outline: 5px solid #C5A557;
  }

  .competition-header h2{
    text-align-last: center;  
    font-family: 'caviar_dreams';
    font-size: 14px;
    padding: 60px;
    color: gray;
  }

  .competition-form {
    text-align-last: center;  
    font-family: 'Dosis', sans-serif;
    padding: 50px;
    margin-bottom: 100px;
  }

  .form-button {
    padding:10px;
    margin:10px;
    border:none;
    background-color:#C5A557;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:80%;
  }
  
  input[type=text] {
    padding:10px;
    margin:10px 0; // add top and bottom margin
    border:0;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 100%;
  }

  input, textarea {
    font-family:inherit;
    font-size: inherit;
  }

  